spring:
  application:
    name: badminton.manager
  datasource:
    url: jdbc:mysql://localhost:3306/badminton_manager?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: badminton_manager
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  security:
    user:
      name: admin
      password: admin

server:
  port: 8098

logging:
  level:
    org.springframework.security: DEBUG

